.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.iframe{
  margin: 30px;
  padding: 30px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #282c34;
  padding: 10px;
  color: white;
  position: sticky;  /* Makes the header sticky */
  top: 0;            /* Sticks the header to the top of the page */
  z-index: 1000;     /* Ensures the header stays on top of other content */
}

.App-logo {
  height: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

.iframe {
  margin: 20px 0;
}


